.input {
    display: none;
}

.label {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--main-theme-color);
    cursor: pointer;
    background-image: url(../../assets/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    transition: .2s;
}

.label:hover {
    background-color: var(--main-theme-color-darken);
}

