.wrapper {
    display: grid;
    grid-template: auto / 65% 35%;
    grid-gap: 10px;
    width: calc(100% - 10px);
}

.section {
    color: var(--text-color);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.filesSection {
}

.sendButton {
    grid-column: 2 / 3;
    background: var(--main-theme-color);
    font-size: 1.5rem;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: var(--text-color);
    margin-top: 10px;
    transition: .2s;
}

.sendButton.inactive {
    background: grey;
}

.sendButton:hover {
    background-color: var(--main-theme-color-darken);
}

.controlButtons {
    display: flex;
    justify-content: center;
}

.resetButton {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url(../../assets/reset.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    transition: .2s;
    background-color: grey;
}

.resetButton.active {
    background-color: var(--main-theme-color);
    cursor: pointer;
}

.resetButton.active:hover {
    background-color: var(--main-theme-color-darken);
}